@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
    --bg:           #ffffff;
  --bg-soft:      #f9f9f9;
  --bg-muted:     #f3f3f3;
  --text:         #111111;
  --text-sub:     #555555;
  --text-muted:   #999999;
  --accent:       #be8a5a;
  --accent-light: #f5ede3;
  --accent-dark:  #8a5e38;
  --border:       #eeeeee;
  --font-b:       'DM Sans', sans-serif;
  --r:            14px;
  --r-lg:         20px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
